<div class="container-lg">
    <div class="view">
      <img class="d-block w-100" src="../../../assets/banner_img/artists.jpg">
      <!-- <div class="mask rgba-black-light"></div> -->
    </div>
    <div class="carousel-caption">
        <h2 class="display-2" style="color:#000000;"> Artists </h2>
      </div>
</div>
<div class="mt-4"></div>
<div class="container">
    <div class="center">
        <div *ngIf="isLoggedIn">
        <button type="button" class="btn btn-outline-success"><a class="nav-link" routerLink="/add-artist"> Add Artist </a> </button>
        <div class="mt-4"></div>
        </div>
<div class="mt-4"></div>
<ul class="list-group" *ngFor="let artist of artists">
    <li class="list-group-item" style="border: 0mm;">
            <h5 style="color:#BF40BF;">{{artist.name}}</h5>
            <!-- <button class="btn btn-outline-success">
                Edit
            </button>
            <button class="btn btn-outline-danger">
                Delete
            </button> -->

    </li>
</ul>
<div class="center">
<div *ngIf="isLoggedIn">
<button *ngIf="isAdmin" type="button" class="btn btn-outline-info"><a class="nav-link" routerLink="/edit-artist"> Edit Artist </a> </button>
<div class="mt-4"></div>
</div>
</div>