<div class="row">
	<div class="col">
		<!--<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				Toggle dropdown
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem>Action - 1</button>
				<button ngbDropdownItem>Another Action</button>
				<button ngbDropdownItem>Something else is here</button>
			</div>
		</div> -->
	</div>
<form [formGroup]="songsForm" (ngSubmit)="editSong()" novalidate>
    <br>
    <h2 class="display-6" style="color:#BF40BF;">Edit Song</h2>
    <!--Dropdown Artist List-->
    <div class="form-group">
        <label> <b> Artist </b> </label>
        <select [(ngModel)]="song.artistId" formControlName="artistId" style="width: 100%;">
            <option *ngFor="let artist of artists" [value]="artist.id">
                {{artist.name}}
            </option>
        </select>
    </div>
    Can't find the artist? Add them <a routerLink="/add-artist" style="color:#BF40BF;"> here </a> <br>
    <div class="form-group" [hidden]="hide">
        <label> <b> Song </b> </label>
        <input 
        type="text" 
        class="form-control"
        formControlName="id"
        [ngModel]="song.id"
        /> 
    </div>
    <div class="form-group">
        <label> <b> Title </b> </label>
        <input 
        type="text" 
        class="form-control"
        formControlName="title"
        [ngModel]="song.title"/> 
    </div>
    <div class="form-group">
        <label> <b> Album </b></label>
        <input
        class="form-control" 
        [ngModel]="song.album"
        formControlName="album"/>
    </div>
    <div class="form-group">
        <label> <b> Lyrics </b> </label>
        <textarea 
        class="form-control" 
        [ngModel]="song.lyrics"
        rows="10" formControlName="lyrics"></textarea>
    </div>
    <hr />
    <!--move delete here-->
    <button class="btn btn-primary" type="submit">
        Save Changes
    </button>
    <p>{{formMessage}}</p>
</form>