<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				Toggle dropdown
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem>Action - 1</button>
				<button ngbDropdownItem>Another Action</button>
				<button ngbDropdownItem>Something else is here</button>
			</div>
		</div>
	</div>
<form [formGroup]="songsForm" (ngSubmit)="editSong()" novalidate>
    <h1>Edit Song</h1>
    
    <div class="form-group">
        <label> SongID </label>
        <input 
        type="text" 
        class="form-control"
        formControlName="id"
        /> 
    </div>
    <div class="form-group">
        <label> ArtistID </label>
        <input 
        type="text" 
        class="form-control"
        formControlName="artistId"
        /> 
    </div>
    <div class="form-group">
        <label> Title </label>
        <input 
        type="text" 
        class="form-control"
        formControlName="title"/> 
    </div>
    <div class="form-group">
        <label> Album </label>
        <input
        class="form-control" 
        formControlName="album"/>
    </div>
    <div class="form-group">
        <label> Lyrics </label>
        <textarea 
        class="form-control" 
        rows="3" formControlName="lyrics"></textarea>
    </div>
    <hr />
    <!--move delete here-->
    <button class="btn btn-primary" type="submit">
        Save Changes
    </button>
</form>