<div class="container">
<div class="mt-4"></div>
<app-user-comments></app-user-comments>
<form [formGroup]="commentForm" (ngSubmit)="submitComment()">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" formControlName="content" id="floatingTextarea" style="height: 100px"></textarea>
        <label for="floatingTextarea">Share your thoughts about this song..</label>
      </div>
      <ngb-rating [max]="5" [(rate)]="rating" formControlName="rating" [readonly]="false"></ngb-rating><br>
      <h5>Rate this song</h5>
      <div class="mt-4"></div>
      <button class="btn btn-primary" type="submit">Submit</button>
</form>
