<div class="mt-5"></div>
<section>
    <div class="card-body p-5 text-center">
        <div class="mb-md-5 mt-md-4 pb-5">
          <div class="mt-5"></div>
          <br>    
<form [formGroup]="artistsForm" (ngSubmit)="submitArtist()" novalidate>
    <h2 class="display-6" style="color:#BF40BF;">Add A New Artist</h2>
    <br>
    <div class="form-group">
        <label> Oh na-na! What's my name? </label>
        <input 
        type="text" 
        class="form-control"
        formControlName="name"
        />
    </div>
    <hr />
    <div class="mt-5"></div>
    <button class="btn btn-primary" type="submit">
        Add Artist
    </button>
    </form>
</div>
</div>
</section>
<div class="mt-5"></div>